<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Ottimizzazione Immagini On-the-fly
    # Se la richiesta è per un'immagine dentro /storage/...
    RewriteCond %{REQUEST_URI} ^/storage/(.+\.(?:jpg|jpeg|png|gif|webp))$ [NC]
    # E la versione ottimizzata NON esiste...
    RewriteCond %{DOCUMENT_ROOT}/storage/optimized/%1 !-f
    # E l'immagine originale ESISTE...
    RewriteCond %{REQUEST_FILENAME} -f
    # Allora passa la richiesta a Laravel per l'ottimizzazione.
    RewriteRule . index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
