[submodule "laradock"]
	path = laradock
	url = https://github.com/Laradock/laradock.git
[submodule "packages/sevendays-digital/filament-nested-resources"]
	path = packages/sevendays-digital/filament-nested-resources
	url = https://github.com/laraxot/filament-nested-resources.git
