/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/build
sitemap.xml
public_html/images/animation-library-master/*
storage/webscraper/webscraper.sqlite

# SSL Certificates
/docker-dev/certs/*.pem
/docker-dev/certs/*.key
/src/Modules/Avatar3DReact/resources/src/
/public/avatar3d/models/avatar.glb
/.dockerignore.bak
/.dockerignore.local
/.env.prod.local
/src/Modules/WebScraper/docs/ATLAS-SEARCH.md
/docker-dev-playwright/certs/avatar-3d-v1.local.pem
/docker-dev-playwright/certs/avatar-3d-v1.local-key.pem
/avatar-3d-v1-latest.tar.gz
/storage/webscraper/backup_webscraper.sqlite
/src/Modules/WebScraper/docs/INDEX-SEARCH.md
/public/avatar3d/models/ryia.glb
/public/avatar3d/models/test-2025112502.glb
/public/avatar3d/models/ryia.glb
/src/Modules/WebScraper/docs/INDEX-SEARCH.md
/src/Modules/WebScraper/docs/ATLAS-SEARCH.md
