includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 1

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#   è copiato
    excludePaths:
        - ./app/Services/Cart
#
#    checkMissingIterableValueType: false

#   running: ./vendor/bin/phpstan analyse